<nav ui-nav>

	<ul class="nav">
		<div ng-repeat="item in menu">
			<li ui-sref-active="active" ng-if="item.level === 0 && !item.submenus">     	
		      	<a ui-sref="{{item.state}}">
		      	<i class="{{item.icon}} nav-icon"></i>
		      	<span class="font-normal">{{item.label}}</span>
		      	</a>
			</li>
		    <li ng-class="{active: item.active}" ng-if="item.submenus && item.level === 0" ng-click="item.active=!item.active">
	      		<a md-ink-ripple>
					<span class="pull-right text-muted">
	          			<i class="fa fa-caret-down"></i>
	        		</span>
					<i class="pull-right up"><b class="badge no-bg">2</b></i>
	        		<i class="{{item.icon}} nav-icon"></i>
	        		<span class="font-normal">{{item.label}}</span>
	      		</a>
				<ul class="nav nav-sub">
			        <li ui-sref-active="active" ng-repeat="sub in submenu" ng-if="item.hierarchy === sub.hierarchy">
			          <a md-ink-ripple ui-sref="{{sub.state}}">{{sub.label}}</a>
			        </li>
		      	</ul>
			</li>
		</div>
	</ul>
</nav>


    