  <div class="center-block  p-v-md">
    <div class="navbar">
      <div class="navbar-brand m-t-lg text-center">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve" style="
                width: 24px; height: 24px;">
          <path d="M 50 0 L 100 14 L 92 80 Z" fill="rgba(139, 195, 74, 0.5)"></path>
          <path d="M 92 80 L 50 0 L 50 100 Z" fill="rgba(139, 195, 74, 0.8)"></path>
          <path d="M 8 80 L 50 0 L 50 100 Z" fill="#fff"></path>
          <path d="M 50 0 L 8 80 L 0 14 Z" fill="rgba(255, 255, 255, 0.6)"></path>
        </svg>
        <span class="m-l inline center-block">{{app.name}}</span> <br>
      
      </div>
    </div>
    
  <div class="row select-user" >
    <div class="col-sm-4">
      <div class="panel panel-card">
        <div class="item">
          <img src="images/js-background-1.jpg" class="w-full r-t" alt="Job Seeker">
          <div class="bottom text-white p">
            Job Seeker
          </div>
        </div>
        <button md-ink-ripple class="md-btn md-fab green m-r md-fab-offset pull-right" ng-click="showConfirm($event,'js','Job Seeker');"><i class="mdi-navigation-check i-24"></i></button>
        <div class="p select-user-information">
          <h3>Job Seeker</h3>
          <p>
            a Job Seeker has different tools to find your perfect job, like any other site to find jobs but better!, and we have everything inside this small system, once you try it you will never search for a job in another platform... join us!
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-card">
        <div class="item">
          <img src="images/hr-manager-background-2.jpg" class="w-full r-t" alt="Washed Out">
          <div class="bottom text-white p">
            Human Resources Manager
          </div>
        </div>
        <button md-ink-ripple class="md-btn md-fab md-raised green m-r md-fab-offset pull-right" ng-click="showConfirm($event,'hrm','Human Resources Manager');"><i class="mdi-navigation-check i-24"></i></button>
        <div class="p select-user-information">
          <h3>Human Resources Manager</h3>
          <p>
            A Human Resources Manager can have the best way of administration for your employees and the best thing is that you can do all your task inside the platform with out using another software. You can find, interview and finish the hiring process inside the platform... join us!
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-card">
        <div class="item">
          <img src="images/company-background.jpg" class="w-full r-t" alt="Washed Out">
          <div class="bottom text-white p">
            Company
          </div>
        </div>
        <button md-ink-ripple class="md-btn md-fab green m-r md-fab-offset pull-right" ng-click="showConfirm($event,'cmp','Company');"><i class="mdi-navigation-check i-24"></i></button>
        <div class="p select-user-information">
          <h3>Company</h3>
          <p>
            If you are a company and you want to get our amazing tools for your complete company, you can have it!, a company can have different kind of users, from employees, human resources managers to administrators of the system for the whole users inside the company... join us!
          </p>
        </div>
      </div>
    </div>
  </div>




  </div>
