  <div class="center-block  p-v-md">
    <div class="navbar">
      <div class="navbar-brand m-t-lg text-center">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve" style="
                width: 24px; height: 24px;">
          <path d="M 50 0 L 100 14 L 92 80 Z" fill="rgba(139, 195, 74, 0.5)"></path>
          <path d="M 92 80 L 50 0 L 50 100 Z" fill="rgba(139, 195, 74, 0.8)"></path>
          <path d="M 8 80 L 50 0 L 50 100 Z" fill="#fff"></path>
          <path d="M 50 0 L 8 80 L 0 14 Z" fill="rgba(255, 255, 255, 0.6)"></path>
        </svg>
        <span class="m-l inline center-block">{{app.name}}</span> <br>
      
      </div>
    </div>
    
  <div class="row select-user" >
    <div class="col-sm-4">
      <div class="panel panel-card">
        <div class="item">
          <img src="images/consumer.jpg" class="w-full r-t" alt="Member">
          <div class="bottom text-white p">
            Member
          </div>
        </div>
        <button md-ink-ripple class="md-btn md-fab green m-r md-fab-offset pull-right" ng-click="showAdvanced($event,'mem','Member');"><i class="fa fa-check fa-3x"></i></button>
        <div class="p select-user-information">
          <h3>Member</h3>
          <p>info here</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4" ng-if="isEmployee()">
      <div class="panel panel-card">
        <div class="item">
          <img src="images/employee.jpg" class="w-full r-t" alt="Washed Out">
          <div class="bottom text-white p">
            Employee
          </div>
        </div>
        <button md-ink-ripple class="md-btn md-fab md-raised green m-r md-fab-offset pull-right" ng-click="showAdvanced($event,'emp','Employee');"><i class="fa fa-check fa-3x"></i></button>
        <div class="p select-user-information">
          <h3>Employee</h3>
          <p>info here</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-card">
        <div class="item">
          <img src="images/vendor.jpg" class="w-full r-t" alt="Washed Out">
          <div class="bottom text-white p">
            Vendor
          </div>
        </div>
        <button md-ink-ripple class="md-btn md-fab green m-r md-fab-offset pull-right" ng-click="showAdvanced($event,'ven','Vendor');"><i class="fa fa-check fa-3x"></i></button>
        <div class="p select-user-information">
          <h3>Vendor</h3>
          <p>info here</p>
        </div>
      </div>
    </div>

  </div>




  </div>
