<div class="nav-fold">
	<a href="#/app/page/profile" ui-sref="app.page.setting">
	    <span class="pull-left">
	      <img src="{{currentUser.picture_url}}" ng-if="currentUser.picture_url" alt="..." class="w-40 img-circle">
	      <img src="/images/default_picture.png" ng-if="!currentUser.picture_url" alt="..." class="w-40 img-circle">
	    </span>
	    <span class="clear hidden-folded p-x">
	      <span class="block _500">{{currentUser.name}}</span>
	      <small class="block text-muted"><i class="fa fa-circle text-success m-r-sm"></i>online</small>
	    </span>
	</a>
</div>
