<!-- only need a height for layout 4 -->
<div>
	<!-- <div class="col-xs-6 col-sm-12 col-md-6" ng-repeat="modelo in clubModelos | unique: name ">
		<div class="box">
		    <div class="item">
			    <div class="item-bg">
			      <img src="../assets/images/mac.jpg" class="blur">
			    </div>
			    <div class="p-a-lg pos-rlt text-center">
			    	<img src="../assets/images/mac.jpg" class="img-circle w-56" style="margin-bottom: -7rem">
			    </div>
			</div>
		    <div class="p-a text-center">
		    	<a href class="text-md m-t block">{{modelo.brand}} {{modelo.modelo}}</a>
		    	<p><small>{{currentUser.location.city}}</small></p>
		    	<p><a href class="btn btn-sm {{app.setting.theme.primary}}" ng-click="goToClubModelo(modelo)">Club me in</a></p>
		    	<div class="text-xs">
		    		items: <strong>{{modelo.items.length}}</strong></em>
		    	</div>
		    </div>
		</div>	
	</div> -->
	<div class="col-xs-6 col-sm-12 col-md-3" ng-repeat="modelo in clubModelos | unique: name ">
		<div class="box">
			<div class="item">
				<img src="../images/nearby.png" class="w-full">
			</div>
			<div class="p-a" align="center">
				<div class="m-b ">
					<strong>{{modelo.brand}} {{modelo.modelo}}</strong>
				</div>
				<div>
					items: <strong>{{modelo.items.length}}</strong></em>
				</div>	
				<div>
					<a href class="btn btn-sm {{app.setting.theme.primary}}" ng-click="goToClubModelo(modelo)">
			    		Club me in
			    	</a>
			    </div>
			</div>
		</div>
	</div>
</div>


