<div> 
	<div class="row">
		<div class="col-sm-12 col-md-12">
	    	<div class="box">
	    		<div class="box-header">
	    			<h3>{{clubModelo.brand}} {{clubModelo.modelo}} <span class="label warning"></span></h3>
	    			<small>These are the user request to buy this item.</small>
	    		</div>
		    	<ul class="list inset" ng-repeat="item in clubModelo.items">
			        <item  item="item" items="items" categories="categories" add-item="addItem()" user="currentUser"> </item>
			    </ul>
		    </div>
	    </div>
	    
      	<hr>
      
	    <div class="col-sm-12 col-md-12" ng-if="!haveItem()">
        	<button class="btn btn-fw primary col-sm-12 col-md-12" ng-click="addItem()">Add a new item</button>
      	</div>

	</div>

</div>