 <div class="col-sm-12 m-t" >
  <form ui-jp="parsley">
    <div class="box">
      <div class="box-header">
        <h2>Send invitation</h2>
        <p>Please enter name and email of the person you want to invite to ClubMein.com</p>
      </div>
      <div class="box-body">                    
        <div class="form-group row">
          <label class="col-sm-3 form-control-label">Name</label>
          <div class="col-sm-9">
            <input type="text" data-parsley-type="text" class="form-control" placeholder="Name" ng-model="user.to">

          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 form-control-label">Email</label>
          <div class="col-sm-9">
            <input type="text" data-parsley-type="text" class="form-control" placeholder="Email" ng-model="user.email">

          </div>
        </div>
      </div>
      <div class="dker p-a text-right">
        <button type="submit" class="btn color-two" ng-click="send()" ng-if="!bSending">Send</button>
        <button type="submit" class="btn color-two" ng-disabled="true" ng-if="bSending">Sending</button>
      </div>
    </div>
  </form>
</div> 