<div> 
	<div class="row">
		<div class="col-sm-12 col-md-12">
	    	<div class="box">
	    		<div class="box-header">
	    			<h3>Your products <span class="label warning"></span></h3>
	    			<small></small>
	    		</div>
		    	<ul class="list inset" ng-repeat="vproduct in myProducts" >
			        <vendor-product  vproduct="vproduct" user="currentUser" categories="categories"> </vendor-product>
			    </ul>
		    </div>
	    </div>
      	<hr>
      	

	    <div class="col-sm-12 col-md-12">
        	<button class="btn btn-fw primary col-sm-12 col-md-12" ng-click="addProduct()">Add a new product</button>
      	</div>

	</div>

</div>