<div class="padding">
   <div class="row">

      <div class="col-sm-8">
         <!-- all the posts -->
         <div class="col-sm-12">
            <div class="box">
               <div class="box-header blue">
                  <h3>{{post.title}}</h3>
                  
               </div>
               <div class="box-body">
                  <small>Tags here</small>
               </div>
               <div class="box-body">
                  <!-- content -->
                  {{post.content}}
               </div>
            </div>
         </div>
         <!-- comment -->
         <div>
            <div class="list-item">
               <div class="list-left" layout="row">

                  <img src="{{currentUser.picture_url}}" class="w-40 circle">
                  <div>
                     <small> {{currentUser.name}}</small>
                     <p>{{currentUser.email}}</p>
                  </div>
               </div>
                <div class="form-group">
                  <!-- <label></label> -->
                  <textarea class="form-control" min-rows="4" ng-model="comment" placeholder="Join the discussion..."></textarea>
                  <div layout="row" layout-align="end end" >
                     <button type="submit" class="btn btn-info" ng-click="leaveComment(comment)" ng-disabled="!comment" ng-if="currentUser">Post as {{currentUser.name}}</button>
                     <a href="" ui-sref="access.signin" ng-if="!currentUser">Login to leave a comment</a>
                  </div>
               </div>
            </div>
            <!-- other comments -->
            <div ng-repeat="comment in post.comments" class="p-t" layout="column">
                  <div class="list-left" layout="row">

                     <img src="{{comment.user.picture_url}}" class="w-40 circle">
                     <div layout="row" layout-align="space-between">
                        <small>{{comment.user.name}}</small>
                        <!-- <p>{{formatDate(comment.updated_at)}}</p> -->
                        <div class="list-right p-l" ng-if="comment.userId === currentUser.user.userId">
                           <a href="" ng-click="deleteComment(comment.commentId)" style="color: red;">delete</a>
                        </div>
                     </div>
                  </div>
                  <div>
                     <span class="w-40 circle"></span>
                     {{comment.content}}
                     <div layout="row" style="color: grey;">
                        <!-- controls -->
                        <i class="fa fa-angle-up p-r" aria-hidden="true" ng-click="voteUp()"></i>
                        <i class="fa fa-angle-down p-r" aria-hidden="true" ng-click="voteDown()"></i>
                        <span class="p-r" ng-click="showReply(comment)">@repply</span>
                        <span ng-click="share()">Share</span>

                     </div>
                     <!-- reply -->
                     <div ng-if="comment.showReply">
                        <textarea class="form-control" min-rows="4" ng-model="reply" placeholder="Join the discussion..."></textarea>
                        <div layout="row" layout-align="end end">
                           <button type="submit" class="btn btn-info" ng-click="leaveReply(reply, comment)" ng-disabled="!reply" >reply as {{currentUser.name}}</button>
                        </div>   
                     </div>
                     <div class="p-t p-l" ng-repeat="reply in comment.replies" layout="column">
                        <div class="list-left" layout="row">
                           <img src="{{reply.user.picture_url}}" class="w-40 circle">
                           <div layout="row" layout-align="space-between">
                              <small>{{reply.user.name}}</small>
                              <!-- <p>{{formatDate(comment.updated_at)}}</p> -->
                              <div class="list-right p-l" ng-if="reply.userId === currentUser.user.userId">
                                 <a href="" ng-click="deleteReply(reply.replyId)" style="color: red;">delete</a>
                              </div>
                           </div>
                        </div>
                        <div layout="column" class="p-l-lg">
                           <div>
                             <!--  <span class="w-40 circle"></span> -->
                              {{reply.content}}
                              
                           </div>
                           <div layout="row" style="color: grey;">
                              <!-- controls -->
                              <i class="fa fa-angle-up p-r" aria-hidden="true" ng-click="voteUp(reply, 'reply')"></i>
                              <i class="fa fa-angle-down p-r" aria-hidden="true" ng-click="voteDown(reply, 'reply')"></i>
                           </div>
                        </div>
                     </div>

                  </div>

            <hr>
            </div>
         </div>
         <!-- end of comment -->
         

      </div>
      <!-- end of posts -->
      <div class="col-sm-4">
         <h4 class="m-a-0 m-b-sm text-md">Ask experts</h4>
         <div class="box">
            <ul class="list inset">
               <li class="list-item">
                  <a herf class="list-left">
                     <span class="w-40 circle avatar accent">
                        <span>C</span>
                        <i class="away b-white"></i>
                     </span>
                  </a>
                  <div class="list-body">
                     <div><a href>Chris Tiangco</a></div>
                     <small class="text-muted text-ellipsis">MCTO, Invite Right</small>
                  </div>
               </li>
               <li class="list-item">
                  <a herf class="list-left">
                     <span class="w-40 circle avatar green">
                        <span>M</span>
                        <i class="off b-white"></i>
                     </span>
                  </a>
                  <div class="list-body">
                     <div><a href>Miguel Trevino</a></div>
                        <small class="text-muted text-ellipsis">Developer, ActivityRight</small>
                  </div>
               </li>
               <li class="list-item">
                  <a herf class="list-left">
                  <span class="w-40 circle avatar purple">
                     <span>K</span>
                     <i class="busy b-white"></i>
                  </span>
                  </a>
                  <div class="list-body">
                     <div><a href>Keyur Patel</a></div>
                     <small class="text-muted text-ellipsis">BC, ActivityRight</small>
                  </div>
               </li>
               <li class="list-item">
                  <a herf class="list-left">
                     <span class="w-40 circle avatar warn">
                        <span>K</span>
                        <i class="away b-white"></i>
                     </span>
                  </a>
                  <div class="list-body">
                     <div><a href>Kat Versteegt</a></div>
                     <small class="text-muted text-ellipsis">Front end Dev, Invite Right / Support</small>
                  </div>
               </li>
            </ul>
         </div>
         <div class="m-b">
           <p><i class="fa fa-fw text-muted m-r-xs fa-envelope"></i> contact@rightlabs.com</p>
           <p><i class="fa fa-fw text-muted m-r-xs fa-phone"></i> 1-(866) 811 3144</p>
           <p><i class="fa fa-fw text-muted m-r-xs fa-clock-o"></i> Mon-Fri 9:00 am - 5:00 pm</p>
         </div>
      </div>
   </div>
</div>