<div class="padding">
   <div class="row">

      <div class="col-sm-8">
         <!-- all the posts -->
         <div class="col-sm-12">
            <div class="box">
               <div class="box-header blue">
                  <h3>Post Title</h3>
                  
               </div>
               <div class="box-body">
                  <small>Tags here</small>
               </div>
               <div class="box-body">
                  <!-- content -->
               </div>
            </div>
         </div>

      </div>
      <!-- end of posts -->
      <div class="col-sm-4">
         <h4 class="m-a-0 m-b-sm text-md">Ask experts</h4>
         <div class="box">
            <ul class="list inset">
               <li class="list-item">
                  <a herf class="list-left">
                     <span class="w-40 circle avatar accent">
                        <span>C</span>
                        <i class="away b-white"></i>
                     </span>
                  </a>
                  <div class="list-body">
                     <div><a href>Chris Tiangco</a></div>
                     <small class="text-muted text-ellipsis">MCTO, Invite Right</small>
                  </div>
               </li>
               <li class="list-item">
                  <a herf class="list-left">
                     <span class="w-40 circle avatar green">
                        <span>M</span>
                        <i class="off b-white"></i>
                     </span>
                  </a>
                  <div class="list-body">
                     <div><a href>Miguel Trevino</a></div>
                        <small class="text-muted text-ellipsis">Developer, ActivityRight</small>
                  </div>
               </li>
               <li class="list-item">
                  <a herf class="list-left">
                  <span class="w-40 circle avatar purple">
                     <span>J</span>
                     <i class="busy b-white"></i>
                  </span>
                  </a>
                  <div class="list-body">
                     <div><a href>Joge Lucky</a></div>
                     <small class="text-muted text-ellipsis">Art director, Movie Cut</small>
                  </div>
               </li>
               <li class="list-item">
                  <a herf class="list-left">
                     <span class="w-40 circle avatar warn">
                        <span>F</span>
                        <i class="away b-white"></i>
                     </span>
                  </a>
                  <div class="list-body">
                     <div><a href>Folisise Chosielie</a></div>
                     <small class="text-muted text-ellipsis">Musician, Player</small>
                  </div>
               </li>
            </ul>
         </div>
         <div class="m-b">
           <p><i class="fa fa-fw text-muted m-r-xs fa-envelope"></i> contact@company.com</p>
           <p><i class="fa fa-fw text-muted m-r-xs fa-phone"></i> (432) 999 000</p>
           <p><i class="fa fa-fw text-muted m-r-xs fa-clock-o"></i> Mon-Fri 9:00 - 16:00</p>
         </div>
      </div>
   </div>
</div>