<div ng-if="product">
  <li class="list-item">
    <a herf class="list-left">
      <span class="w-40 r-2x _600 text-lg color-two">
        {{product.name[0]}}
      </apan>
    </a>
    <div class="list-body" >
      <div class="m-y-sm pull-right">
         <a href class="btn" ng-click="loadBrands()" ng-if="!bShowChild || !product.brands"> <i class="fa fa-product-hunt"></i>Show brands</a>
        <a href class="btn" ng-click="hideBrands()" ng-if="bShowChild && product.brands"> <i class="fa fa-product-hunt"></i> Hide brands</a>
        Edit <a href class="btn btn-xs white btn-icon" ng-click="showEdit()"> <i class="fa fa-pencil"></i></a>
        Delete <a href class="btn btn-xs white btn-icon" ng-click="showConfirm()"><i class="fa fa-trash"></i></a>
      </div>
      <div>
        <a href>{{product.name}}</a>
      </div>
      <div class="text-sm">
        <span class="text-muted">You can see brands related to {{product.name}}, also you can edit or delete this product. </span> 
        <span class="label"></span>
      </div>
    </div>
    <div class="col-sm-12 m-t" ng-if="bShowEdit">
      <form ui-jp="parsley">
        <div class="box">
          <div class="box-header">
            <h2>Product information</h2>
          </div>
          <div class="box-body">                    
            <div class="form-group row">
              <label class="col-sm-3 form-control-label">Name</label>
              <div class="col-sm-9">
                <input type="text" data-parsley-type="text" class="form-control" placeholder="Name" ng-model="product.name">

              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 form-control-label">Active</label>
              <div class="col-sm-9">
                <input type="checkbox" ng-model="product.active" ng-checked="product.active"> {{product.active}}
              </div>
            </div>
          </div>
          <div class="dker p-a text-right">
            <button type="submit" class="btn info" ng-click="save()">Save</button>
            <button type="submit" class="btn warning" ng-click="hideEdit()">Cancel</button>
          </div>
        </div>
      </form>
    </div> 

    <div class="col-sm-12 m-t" ng-if="bShowChild">
      <div ng-repeat="brand in product.brands">
        <brand brand="brand" user="user"></brand>
      </div>
      <div class="col-sm-12 col-md-12">
        <button class="btn btn-fw color-three col-sm-12 col-md-12" ng-click="addBrand()">Add a new brand</button>
      </div>
    </div>
    </li>

    
</div>