<!-- <div class="col-md-12 b-l bg-white bg-auto" ng-if="user.jobSeekerId">
	<div class="p-md bg-light lt b-b font-bold">Company Information</div>

</div> -->


<div class="col-md-12 b-l bg-white bg-auto" ng-if="user.humanResourcesManagerId">
	<div class="p-md bg-light lt b-b font-bold">Company Information</div>

	<md-subheader class="md-no-sticky">
		Connect with a company. Please enter the company code to do it. 
	</md-subheader>
	



</div>



<div class="col-md-12 b-l bg-white bg-auto" ng-if="user.companyId">
	<company-info user="user" company="company"> </company-info>
</div>