<div class="card" ng-if="bCard">

	<div class="card-heading" ng-if="bSave">
	    <h2>{{education.school_name}}</h2>
	    <div class="options">
	    	<button md-ink-ripple class="md-btn md-raised m-b btn-fw green-500" ng-click="save()" ng-disabled="!disableSaveButton()" >Save</button>
	    	<button md-ink-ripple class="md-btn md-raised m-b btn-fw red-500" ng-click="cancel()">Cancel</button>
	    	&nbsp; &nbsp;
	    	<i class="fa fa-trash-o"  ng-click="confirmDelete($event)"></i>
	    </div> 
	</div>
	<div class="card-heading" ng-if="bEdit">
		<h2>{{education.school_name}}</h2>
		<div class="options">
			<button md-ink-ripple class="md-btn md-raised m-b btn-fw blue-500" ng-click="edit()"  >Edit</button>
			&nbsp; &nbsp;
			<i class="fa fa-trash-o"  ng-click="confirmDelete($event)"></i>
		</div>
	</div>
	<div ng-if="bContent">
		<!-- education : field, school name -->
		<div class="card-body bg-dark">
		    <div class="row row-sm">
		      	<div class="col-sm-6">
			        <div class="md-form-group">
			        	<input class="md-input md-input-white" ng-model="education.field_of_study" ng-value="education.field_of_study">
			        	<label>Field</label>
			        </div>
		      	</div>
			    <div class="col-sm-6">
			        <div class="md-form-group">
			        	<input class="md-input md-input-white" ng-model="education.school_name" ng-value="education.school_name">
			        	<label>School</label>
			        </div>
			    </div>
		    </div>

		</div> <!--  end of field , school name -->
		<div class="card-body">
			<div class="row row-sm">
				<div class="col-sm-12">
				<div class="md-form-group">
					<input class="md-input" ng-model="education.degree" ng-value="education.degree">
					<label>Degree </label>
				</div>
				</div>
				<div class="col-sm-4">
			        <div class="md-form-group">
        				<md-datepicker ng-model="education.start_date" md-placeholder="Start date" >
        				</md-datepicker>
			        </div>
			    </div>
			    <div class="col-sm-4" ng-show="!education.is_current">
			        <div class="md-form-group">
			        	<md-datepicker ng-model="education.end_date" md-placeholder="End date" >
        				</md-datepicker>
			        </div>
			    </div>
			    <div class="col-sm-4">
			        <div class="md-form-group iscurrent">
			          	<label class="ui-checks">
				            <input type="checkbox" ng-model="education.is_current">
				            <i class="blue"></i>
				            Current
			          	</label>
			        </div>
			    </div>
			    <div class="col-sm-12">
			        <div class="md-form-group">
			          	<textarea class="md-input" ng-model="education.activities" rows="4" ng-value="education.activities" ></textarea>
			          	<label>Activities</label>
			        </div>
			    </div>
			    <div class="col-sm-12">
			        <div class="md-form-group">
			          	<textarea class="md-input" ng-model="education.notes" rows="4" ng-value="education.notes"></textarea>
			          	<label>Notes</label>
			        </div>
			    </div>
			</div>    	
		</div>
	</div>

</div>