<div class="card" ng-if="bCard">
	<div class="card-heading" ng-if="bSave">
	    <h2 ng-if="language.code">{{language.description}}</h2>
	    <div class="options">
	    	<button md-ink-ripple class="md-btn md-raised m-b btn-fw green-500" ng-click="save()" ng-disabled="!disableSaveButton()" >Save</button>
	    	<button md-ink-ripple class="md-btn md-raised m-b btn-fw red-500" ng-click="cancel()" ng-if="language.jobSeekerLanguageId">Cancel</button>
	    	&nbsp; &nbsp;
	    	<i class="fa fa-trash-o"  ng-click="confirmDelete($event)"></i>
	    </div>
	</div>
	<div class="card-heading" ng-if="bEdit">
		<h2 ng-if="language.code">{{language.description}}</h2>
		<div class="options">
			<button md-ink-ripple class="md-btn md-raised m-b btn-fw blue-500" ng-click="edit()">Edit</button>
			&nbsp; &nbsp;
			<i class="fa fa-trash-o" ng-click="confirmDelete($event)"></i>
		</div>
	</div>
	<div ng-if="bContent">
		<div class="card-body">
			<div class="row row-sm">
				<div class="col-sm-6">
			        <div class="md-form-group">
			          	<input class="md-input" ng-model="language.description" ng-change="getLanguage()">
			          	<label>Language</label>
			        </div>
			        <div class="card" >
			        	<ul>
				        	<li ng-repeat="lan in languagesFound" ng-click="selectLanguage(lan)">
				        		{{lan.description}}
				        		<hr>
				        	</li>
			        	</ul>
			        </div>
			    </div>
			    <div class="col-sm-6">
			        <div class="md-form-group">
			        	<md-select ng-model="language.level" class="md-input option-md-select" >
				          	<md-option ng-repeat="level in profiencyLevels" ng-value="level" ng-selected="language.level === level">
				            	{{level}}
				          	</md-option>
				        </md-select>
			          	<label>Level</label>
			        </div>
			    </div>
			</div>
		</div>
	</div>
</div>