<div class="panel-group">
    <div class="panel panel-default ng-isolate-scope">
		<div class="panel-heading" ng-click="setShowContent()">
			<h4 class="panel-title">
		    	<a href=""   tabindex="0">
		      		<span class="ng-binding">
		      			Resume
		      		</span>
		      		<i class="fa fa-arrow-up" style="float: right;" ng-if="!bshow"></i>
		      		<i class="fa fa-arrow-down" style="float: right;" ng-if="bshow"></i>
		      	</a>
		    </h4>
		  </div>
	</div>
</div>

<div class="pro-info-content row row-sm" ng-show="showContent()">
	<md-subheader class="md-no-sticky">
		In this section you can upload your resume with a <b> pdf </b> extension. You can only add <b>3 </b> resumes to your profile. 
	</md-subheader>
    <div class="col-sm-4">
	    <div ngf-drop ngf-select ng-model="files" class="drop-box" 
	        ngf-drag-over-class="'dragover'" ngf-multiple="true" ngf-allow-dir="true"
	        accept="application/pdf" 
	        ngf-pattern="'application/pdf'" ><i class="fa fa-file-pdf-o fa-5x"></i> <br>Drop your pdf files.
	    </div>
	    <div ngf-no-file-drop>
	    	File Drag/Drop is not supported for this browser
	    </div>

	    <div class="progress progress-striped active" ng-if="showProgressBar()">
        	<div class="progress-bar progress-bar-info" style="width:{{progressPercentage}}%" >	{{progressPercentage}}
        	</div>
      	</div>
	</div>

    <div class="col-sm-4">
    	<div class= "table" ng-if="resumes.length > 0">
    		<table class="table table-bordered bg-white">
    			<thead>
    				<tr>
    					<th>Pdf</th>
    					<th>Options</th>
    				</tr>
    			</thead>
    			<tbody>
    				<tr ng-repeat="res in resumes">
    					<td layout-align="center center" style="text-align: center; position: relative; top: 12px;">
    						<p style="word-wrap: break-word;width: 150px;">
    							{{res.original_name}}
    						</p>
    					</td>
    					<td>
    						<div layout="column" flex="33" flex-sm="100" layout-align="center center">	
						        <md-menu>
						          <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
						            <md-icon md-menu-origin class="fa fa-cog"></md-icon>
						          </md-button>
						          <md-menu-content width="6">
						          	<md-menu-item ng-if="!res.current">
						          		<md-button ng-click="resumeOption('current', res)" >
						          			<md-icon md-menu-align-target class="fa fa-star"></md-icon>
						                	Set as main resume.
						          		</md-button>
						          	</md-menu-item>
						          	<md-menu-item>
						          		<md-button ng-click="resumeOption('private', res)" ng-if="!res.private">
						          			<md-icon md-menu-align-target class="fa fa-eye-slash" ></md-icon>
						                	<p > Set as private </p>
						          		</md-button>
						          		<md-button ng-click="resumeOption('public', res)" ng-if="res.private">
							          		<md-icon md-menu-align-target class="fa fa-eye" ></md-icon>
							                	<p > Set as public</p>
						          		</md-button>
						          	</md-menu-item>
						          	<md-menu-item>
						          		<md-button ng-click="resumeOption('delete', res)">
						          			<md-icon md-menu-align-target class="fa fa-trash"></md-icon>
						                	Delete
						          		</md-button>
						          	</md-menu-item>

						          </md-menu-content>
						        </md-menu>
						    </div>
    					</td>
    				</tr>
    			</tbody>
    		</table>
    	</div>
    	<div ng-if="resumes.length === 0">
    		<md-subheader class="md-no-sticky">You have no resumes added yo your profile. </md-subheader>
    		
    	</div>
	    <!-- <pre>{{log}}</pre> -->
    </div>
</div>













<!-- <div class="resume-upload">
		<input type="file" id="fileToLoad" />
	</div> -->
	<!-- <table>
      <tr>
        <td colspan="3">Binary data:</td>
      </tr>

      <tr>
        <td colspan="3">
          <textarea id="inputTextToSave"></textarea>
        </td>
      </tr>

      <tr>
        <td>Filename to Save As:</td>
        <td><input id="inputFileNameToSaveAs" /></td>
        <td><button onclick="saveImage()">Save file</button></td>
      </tr>

      <tr>
        <td>Select a File to Load:</td>
        <td><input type="file" id="fileToLoad"></td></td>
          <td><button onclick="loadImage()">Load file</button></td>
      </tr>

      <tr>
        <td colspan="3" id="imagePreview">
        </td>
      </tr>
    </table> -->