<div class="panel-group">
    <div class="panel panel-default ng-isolate-scope">
		<div class="panel-heading" ng-click="setShowContent()">
			<h4 class="panel-title">
		    	<a href=""  tabindex="0" >
		      		<span class="ng-binding">
		      			Certificates
		      		</span>
		      		<i class="fa fa-arrow-up" style="float: right;" ng-if="!bshow"></i>
		      		<i class="fa fa-arrow-down" style="float: right;" ng-if="bshow"></i>
		      	</a>
		    </h4>
		  </div>
	</div>
</div>

<div class="pro-info-content" ng-show="showContent()">
	<div ng-repeat="certificate in certificates">
		<js-certificate user="user" certificate="certificate"> </js-certificate>
	</div>
	
	
	<div class="row row-sm">
		<div class="col-sm-12">
			<button md-ink-ripple class="md-btn md-raised m-b btn-fw blue-300" style="width: 100%;" ng-click="addCertificate()">Add a certificate</button>
		</div>
	</div>
</div>