<div class="panel-group">
    <div class="panel panel-default ng-isolate-scope">
		<div class="panel-heading">
			<h4 class="panel-title">
		    	<a href=""  tabindex="0" ng-click="setShowContent()">
		      		<span class="ng-binding">
		      			job Preferences
		      		</span>
		      	</a>
		    </h4>
		  </div>
	</div>
</div>

<div class="pro-info-content" ng-show="showContent()">
	<p>some random large text</p>
	<p>some random large text</p>
	<p>some random large text</p>
	<p>some random large text</p>
	<p>some random large text</p>
	<p>some random large text</p>
</div>