<div class="col-md-12 b-l bg-white bg-auto" ng-if="user.jobSeekerId">
	<div class="p-md bg-light lt b-b font-bold">Professional Information</div>
	<br>

	<pro-info-resume user="user" resumes="resumes"> </pro-info-resume>

	<pro-info-education user="user" education="education"> </pro-info-education>

	<pro-info-languages user="user" languages="languages"> </pro-info-languages>

	<pro-info-previous-experience user="user" previous="previousExperience"> </pro-info-previous-experience>

	<pro-info-certificates  user="user" certificates="certificates"> </pro-info-certificates>

	<pro-info-courses user="user" courses="courses"> </pro-info-courses>

	<pro-info-volunteers user="user" volunteers="volunteers"> </pro-info-volunteers>

	<!-- <pro-info-job-preferences user="user"> </pro-info-job-preferences> -->


	          
</div>
