<div class="col-md-12 b-l bg-white bg-auto" ng-if="user.jobSeekerId">
  <div class="p-md bg-light lt b-b font-bold">Profile</div>
    <form role="form" class="p-md col-md-6">
      <!-- <div class="form-group">
        <label>Profile picture</label>
        <div class="form-file">
          <input type="file">
          <button class="btn btn-default">Upload new picture</button>
        </div>
      </div> -->
      <div class="form-group">
        <label>Nick name</label>
        <input type="text" ng-model="localUser.nickname" class="form-control"  ng-disabled="!showSaveOptions()">
      </div>
      <div class="form-group">
        <label>First name</label>
        <input type="text"  ng-model="localUser.firstName" class="form-control" ng-disabled="!showSaveOptions()">
      </div>
      <div class="form-group">
        <label>Last name</label>
        <input type="text" ng-model="localUser.lastName" class="form-control"  ng-disabled="!showSaveOptions()">
      </div>
      <div class="form-group">
        <label>Email address</label>
        <input type="email" class="form-control" ng-value="localUser.email" ng-disabled="true">
      </div>
      <div class="form-group">
        <label>Second email address</label>
        <input type="email" ng-model="localUser.second_email" class="form-control"  ng-disabled="!showSaveOptions()">
      </div>
      <div class="form-group">
        <label>date of birth</label>
        <md-datepicker ng-model="localUser.date_of_birth" md-placeholder="date of birth" ng-disabled="!showSaveOptions()"></md-datepicker>
      </div>
      <div class="form-group">
        <label>Phone</label>
        <input type="text" ng-model="localUser.phone" class="form-control" ng-value="localUser.phone" ng-disabled="!showSaveOptions()">
      </div>
      <div class="form-group">
        <label>Celullar</label>
        <input type="text" ng-model="localUser.celullar" class="form-control"  ng-disabled="!showSaveOptions()">
      </div>
      <div class="form-group">
        <label>specialities</label>
        <textarea type="text"  ng-model="localUser.specialities" class="form-control"  ng-disabled="!showSaveOptions()"> 
        </textarea>
      </div>
      <div class="form-group">
        <label>Summary</label>
        <textarea type="text" ng-model="localUser.summary" class="form-control"  ng-disabled="!showSaveOptions()">
        </textarea>
      </div>
      <div class="checkbox">
        <label class="ui-checks">
          <input type="checkbox" ng-model="localUser.available_for_hire" ng-disabled="!showSaveOptions()"><i></i> Available for hire
        </label>
      </div>
      <div ng-if="!showSaveOptions()">
        <md-button class="md-raised" ng-click="setSaving(true)">Edit</md-button>
      </div>
      <div ng-if="showSaveOptions()">
        <md-button class="md-raised md-primary" ng-click="saveProfile()">Save</md-button>
        <md-button class="md-raised md-warn" ng-click="reset()">Cancel</md-button>
      </div>
    </form>
</div>


<!-- human resources manager -->
<div class="col-md-12 b-l bg-white bg-auto" ng-if="user.humanResourcesManagerId">
  <div class="p-md bg-light lt b-b font-bold">Profile</div>
    <form role="form" class="p-md col-md-6">
      <!-- <div class="form-group">
        <label>Profile picture</label>
        <div class="form-file">
          <input type="file">
          <button class="btn btn-default">Upload new picture</button>
        </div>
      </div> -->
      <div class="form-group">
        <label>Title</label>
        <md-select ng-model="localUser.title">
           <md-option ng-repeat="title in titles" value="{{title}}" ng-selected="title === localUser.title" ng-disabled="!showSaveOptions()">
            {{title}}
           </md-option>
        </md-select>
      </div>
      {{titulo}}
      <div class="form-group">
        <label>First name</label>
        <input type="text" ng-model="localUser.firstName" class="form-control" ng-disabled="!showSaveOptions()">
      </div>
      <div class="form-group">
        <label>Last name</label>
        <input type="text" ng-model="localUser.lastName" class="form-control" ng-disabled="!showSaveOptions()">
      </div>
      <div class="form-group">
        <label>Email address</label>
        <input type="email" ng-model="localUser.email" class="form-control" ng-disabled="true">
      </div>
      <div class="form-group">
        <label>Second email address</label>
        <input type="email" ng-model="localUser.second_email" class="form-control" ng-disabled="!showSaveOptions()">
      </div>
      <div class="form-group">
        <label>date of birth</label>
        <md-datepicker ng-model="localUser.date_of_birth" md-placeholder="date of birth" ng-disabled="!showSaveOptions()"></md-datepicker>
      </div>
      <div class="form-group">
        <label>Phone</label>
        <input type="phone" ng-model="localUser.phone" class="form-control" ng-disabled="!showSaveOptions()">
      </div>
      <div class="form-group">
        <label>Celullar</label>
        <input type="phone" ng-model="localUser.celullar" class="form-control" ng-disabled="!showSaveOptions()">
      </div>

      <div ng-if="!showSaveOptions()">
        <md-button class="md-raised" ng-click="setSaving(true)">Edit</md-button>
      </div>
      <div ng-if="showSaveOptions()">
        <md-button type="submit" class="md-raised md-primary" ng-click="saveProfile()">Save</md-button>
        <md-button class="md-raised md-warn" ng-click="reset()">Cancel</md-button>
      </div>
    </form>
</div>




<!-- Company -->

<div class="col-md-12 b-l bg-white bg-auto" ng-if="user.companyId">
  <div class="p-md bg-light lt b-b font-bold">Profile</div>
    <form role="form" class="p-md col-md-6">
      <!-- <div class="form-group">
        <label>Profile picture</label>
        <div class="form-file">
          <input type="file">
          <button class="btn btn-default">Upload new picture</button>
        </div>
      </div> -->
      <div class="form-group">
        <label>First name</label>
        <input type="text" ng-model="localUser.firstName" class="form-control" ng-disabled="!showSaveOptions()">
      </div>
      <div class="form-group">
        <label>Last name</label>
        <input type="text" ng-model="localUser.lastName" class="form-control" ng-disabled="!showSaveOptions()">
      </div>
      <div class="form-group">
        <label>Email address</label>
        <input type="email" ng-model="localUser.email" class="form-control" ng -ng-disabled="true">
      </div>
      <div class="form-group">
        <label>Second email address</label>
        <input type="email" ng-model="localUser.second_email" class="form-control" ng-disabled="!showSaveOptions()">
      </div>
      <div class="form-group">
        <label>date of birth</label>
        <md-datepicker ng-model="localUser.date_of_birth" md-placeholder="date of birth" ng-disabled="!showSaveOptions()"></md-datepicker>
      </div>
      <div class="form-group">
        <label>Phone</label>
        <input type="text" ng-model="localUser.phone" class="form-control" ng-disabled="!showSaveOptions()" >
      </div>
      <div class="form-group">
        <label>Celullar</label>
        <input type="text" ng-model="localUser.celullar" class="form-control" ng-disabled="!showSaveOptions()">
      </div>
      <div ng-if="!showSaveOptions()">
        <md-button class="md-raised" ng-click="setSaving(true)">Edit</md-button>
      </div>
      <div ng-if="showSaveOptions()">
        <md-button type="submit" class="md-raised md-primary" ng-click="saveProfile()">Save</md-button>
        <md-button class="md-raised md-warn" ng-click="reset()">Cancel</md-button>
      </div>
    </form>
</div>