<div ng-if="category">
	<li class="list-item">
    <a herf class="list-left">
    	<span class="w-40 r-2x _600 text-lg green">
      	{{category.name[0]}}
      </apan>
    </a>
    <div class="list-body" >
    	<div class="m-y-sm pull-right">
        <a href class="btn" ng-click="loadProducts()" ng-if="!bShowChild || !category.products"> <i class="fa fa-product-hunt"></i>Show products</a>
        <a href class="btn" ng-click="hideProducts()" ng-if="bShowChild && category.products"> <i class="fa fa-product-hunt"></i> Hide products</a>
        Edit <a href class="btn btn-xs white btn-icon" ng-click="showEdit()"> <i class="fa fa-pencil"></i></a>
      	Delete <a href class="btn btn-xs white btn-icon" ng-click="showConfirm()"><i class="fa fa-trash"></i></a>
  	  </div>
      <div>
        <a href>{{category.name}}</a>
      </div>
      <div class="text-sm">
      	<span class="text-muted"><strong>Code </strong>{{category.code}} </span> 
      	<span class="label"></span>
      </div>
    </div>
    <div class="col-sm-12 m-t" ng-if="bShowEdit">
      <form ui-jp="parsley">
        <div class="box">
          <div class="box-header">
            <h2>Category information</h2>
          </div>
          <div class="box-body">                    
            <div class="form-group row">
              <label class="col-sm-3 form-control-label">Name</label>
              <div class="col-sm-9">
                <input type="text" data-parsley-type="text" class="form-control" placeholder="Name" ng-model="category.name">

              </div>
            </div>
            
            <div class="form-group row">
              <label class="col-sm-3 form-control-label">Code</label>
              <div class="col-sm-9">
                <input type="text" data-parsley-type="text" class="form-control" placeholder="Code" ng-model="category.code"> 
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 form-control-label">Active</label>
              <div class="col-sm-9">
                <input type="checkbox" ng-model="category.active" ng-checked="category.active"> {{category.active}}
              </div>
            </div>
          </div>
          <div class="dker p-a text-right">
            <button type="submit" class="btn info" ng-click="save()">Save</button>
            <button type="submit" class="btn warning" ng-click="hideEdit()">Cancel</button>
          </div>
        </div>
      </form>
    </div> 

    <div class="col-sm-12 m-t" ng-if="bShowChild">
      <div ng-repeat="product in category.products">
        <product product="product" category="category" user="user"> </product>
      </div>
      <div class="col-sm-12 col-md-12">
        <button class="btn btn-fw blue col-sm-12 col-md-12" ng-click="addProduct()">Add a new product</button>
      </div>
    </div>
    
    </li>

    
</div>