<div class="padding">
  <form action="#" class="m-b-md">
    <div class="input-group input-group-lg">
      <input type="text" class="form-control" placeholder="Type keyword">
      <span class="input-group-btn">
        <button class="btn b-a no-shadow white" type="button">Search</button>
      </span>
    </div>
  </form>
  <p class="m-b-md"><strong>2</strong> Results found for: <strong>Mac</strong></p>

  <ul class="nav nav-sm nav-pills nav-active-primary clearfix">
    <li class="nav-item">
      <a class="nav-link active" href data-toggle="tab" data-target="#tab_1">All <span class="label label-xs primary m-l-xs">2</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href data-toggle="tab" data-target="#tab_2">Members <span class="label label-xs primary m-l-xs">64</span></a>
    </li>
  </ul>

  <div class="tab-content">
    <br>
    <div class="col-xs-6 col-sm-12 col-md-6">
      <div class="box">
        <div class="item">
          <div class="item-bg">
            <img src="../assets/images/mac.jpg" class="blur">
          </div>
          <div class="p-a-lg pos-rlt text-center">
            <img src="../assets/images/mac.jpg" class="img-circle w-56" style="margin-bottom: -7rem">
          </div>
        </div>
          <div class="p-a text-center">
            <a href class="text-md m-t block">MAC</a>
            <p><small>Edmonton,AB Canada.</small></p>
            <p><a href class="btn btn-sm {{app.setting.theme.primary}}">Club me in</a></p>
            <div class="text-xs">
              <em>Members: <strong>32</strong>, items: <strong>50</strong></em>
            </div>
          </div>
      </div>
    </div>

    <div class="col-xs-6 col-sm-12 col-md-6">
      <div class="box">
        <div class="item">
          <div class="item-bg">
            <img src="../assets/images/mac.jpg" class="blur">
          </div>
          <div class="p-a-lg pos-rlt text-center">
            <img src="../assets/images/mac.jpg" class="img-circle w-56" style="margin-bottom: -7rem">
          </div>
        </div>
          <div class="p-a text-center">
            <a href class="text-md m-t block">MAC</a>
            <p><small>Edmonton,AB Canada.</small></p>
            <p><a href class="btn btn-sm {{app.setting.theme.primary}}">Club me in</a></p>
            <div class="text-xs">
              <em>Members: <strong>32</strong>, items: <strong>50</strong></em>
            </div>
          </div>
      </div>
    </div>

  </div>
</div>
