<md-dialog aria-label="Mango (Fruit)"  ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>User registration</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon  aria-label="Close dialog">close </md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
    <div ng-if="limboUser.code === 'ven' || limboUser.code === 'mem'">
      <div class="md-dialog-content">
        <div class="clearfix m-b-lg">
          <form role="form" class="col-md-6 p-a-0">
            <div class="form-group row" ng-if="limboUser.code === 'ven'">
              <label class="col-sm-3 form-control-label">Company *</label>
              <div class="col-sm-9">
                <input type="text" required data-parsley-type="text" class="form-control" placeholder="Company name" ng-model="limboUser.company_name" >
              </div>
            </div>
            <div class="form-group row" ng-if="limboUser.code === 'ven'">
              <label class="col-sm-3 form-control-label">Title *</label>
              <div class="col-sm-9">
                <input type="text" required data-parsley-type="text" class="form-control" placeholder="Title" ng-model="limboUser.title" >
              </div>
            </div>
            <div class="form-group row" >
              <label class="col-sm-3 form-control-label">First name *</label>
              <div class="col-sm-9">
                <input type="text" required data-parsley-type="text" class="form-control" placeholder="First name" ng-model="limboUser.firstName" >
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 form-control-label">Last name *</label>
              <div class="col-sm-9">
                <input type="text" required data-parsley-type="text" class="form-control" placeholder="Last name" ng-model="limboUser.lastName">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 form-control-label">Email *</label>
              <div class="col-sm-9">
                <input type="text" required data-parsley-type="text" class="form-control" placeholder="Email" ng-model="limboUser.email" ng-disabled = true>
              </div>
            </div>
            <div class="form-group row" ng-if="limboUser.code === 'emp' || limboUser.code === 'mem'">
              <label class="col-sm-3 form-control-label b-p-top">Gender *</label>
              <div class="col-sm-9">
                <select name="gender" class="form-control c-select m-y" ng-model="limboUSer.gender">
                  <option value="">Select a gender</option>
                  <option value="Male" ng-selected="limboUSer.gender === 'Male'">Male</option>
                  <option value="Female" ng-selected="limboUSer.gender === 'Female'">Female</option>
                </select>
              </div>
            </div>
            <div class="form-group row" ng-if="limboUser.code === 'ven'">
              <label class="col-sm-3 form-control-label">Telephone *</label>
              <div class="col-sm-9">
                <input type="phone" required data-parsley-type="text" class="form-control" placeholder="Telephone" ng-model="limboUser.telephone" >
              </div>
            </div>
            <div class="form-group row" ng-if="limboUser.code === 'ven'">
              <label class="col-sm-3 form-control-label">Ext</label>
              <div class="col-sm-9">
                <input type="text" required data-parsley-type="text" class="form-control" placeholder="Ext" ng-model="limboUser.ext">
              </div>
            </div>
            <div class="form-group row" >
              <label class="col-sm-3 form-control-label b-p-top">Country *</label>
              <div class="col-sm-9">
                <select name="country" class="countries form-control c-select m-y" id="countryId" ng-model="country" ng-change="setCountry(country)">
                  <option value="" >Select Country</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 form-control-label b-p-top">State *</label>
              <div class="col-sm-9">
                <select name="state" class="states form-control c-select m-y" id="stateId" ng-model="state" ng-change="setState(state)" >
                  <option value="">Select State</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 form-control-label b-p-top">City *</label>
              <div class="col-sm-9">
                <select name="city" class="cities form-control c-select m-y" id="cityId" ng-model="city" ng-change="setCity(city)">
                  <option value="">Select City</option>
                </select>
              </div>
            </div>

            <div class="form-group row" ng-if="limboUser.code === 'ven'">
              <label class="col-sm-3 form-control-label">Address line 1 *</label>
              <div class="col-sm-9">
                <input type="text" required data-parsley-type="text" class="form-control" placeholder="Int / Num / Street " ng-model="limboUser.address" >
              </div>
            </div>
            <div class="form-group row" ng-if="limboUser.code === 'ven'">
              <label class="col-sm-3 form-control-label">Zip code *</label>
              <div class="col-sm-9">
                <input type="text" data-parsley-type="text" class="form-control" placeholder="Zip code" ng-model="limboUser.zip_code" >
              </div>
            </div>
            <div class="form-group row" ng-if="limboUser.code === 'ven'">
              <label class="col-sm-3 form-control-label">Website *</label>
              <div class="col-sm-9">
                <input type="text" data-parsley-type="text" class="form-control" placeholder="Website" ng-model="limboUser.website" >
              </div>
            </div>
            <p ng-if="limboUser.code === 'ven'"><b>Alternate Contact</b></p>

            <div class="form-group row" ng-if="limboUser.code === 'ven'">
              <label class="col-sm-3 form-control-label">First Name</label>
              <div class="col-sm-9">
                <input type="text" data-parsley-type="text" class="form-control" placeholder="First name" ng-model="limboUser.alternative_first_name" >
              </div>
            </div>
            <div class="form-group row" ng-if="limboUser.code === 'ven'">
              <label class="col-sm-3 form-control-label">Last Name</label>
              <div class="col-sm-9">
                <input type="text" data-parsley-type="text" class="form-control" placeholder="Last name" ng-model="limboUser.alternative_last_name" >
              </div>
            </div>

            <div class="form-group row" ng-if="limboUser.code === 'ven'">
              <label class="col-sm-3 form-control-label">Email</label>
              <div class="col-sm-9">
                <input type="text" data-parsley-type="text" class="form-control" placeholder="Email" ng-model="limboUser.alternative_email" >
              </div>
            </div>
            
            <div class="form-group row" ng-if="limboUser.code === 'ven'">
              <label class="col-sm-3 form-control-label">Telephone</label>
              <div class="col-sm-9">
                <input type="text" data-parsley-type="text" class="form-control" placeholder="Telephone" ng-model="limboUser.alternative_telephone" >
              </div>
            </div>
            <div class="form-group row" ng-if="limboUser.code === 'ven'">
              <label class="col-sm-3 form-control-label">Ext</label>
              <div class="col-sm-9">
                <input type="text" data-parsley-type="text" class="form-control" placeholder="Ext" ng-model="limboUser.alternative_ext" >
              </div>
            </div>
            <script src="http://lab.iamrohit.in/js/location.js"></script>
          </form>
        </div>
      </div>
    </div>
    <div ng-if="limboUser.code === 'emp'">You are an employee, you dont need to fill any information, please just click on register, so you can start using the system.</div>
     
    </md-dialog-content>
    <md-dialog-actions layout="row">
      
      <span flex></span>
      <md-button ng-click="cancel()">
       Cancel
      </md-button>
      <md-button ng-click="save()" style="margin-right:20px;">
        Register
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>