<div>
	<li class="list-item">
      <a herf class="list-left">
      	<span class="w-40 r-2x _600 text-lg accent">
        	B
        </apan>
      </a>
      <div class="list-body">
      	<div class="m-y-sm pull-right">
        	<a href class="btn btn-xs white">Manage</a>
        	<a href class="btn btn-xs white btn-icon"><i class="fa fa-pencil"></i></a>
    	</div>
        <div><a href>Broadcast web app mockup</a></div>
        <div class="text-sm">
        	<span class="text-muted"><strong>5</strong> tasks, <strong>3</strong> issues</span> 
        	<span class="label"></span>
        </div>
      </div>
    </li>
</div>