.caja{
	height: 42% !important;
}

.icon-notification{
	margin-right: 30px; 
}


.resume-upload{
	width: 240px;
	height: 286px;
  	background: url('../imgs/fa-file-text-o.png');
  	overflow: hidden;

}


.resume-upload input{
	display: block !important;
    width: 240px !important;
    height: 286px !important;
    opacity: 0 !important;
    overflow: hidden !important;
}



.button {
    -moz-appearance: button;
    /* Firefox */
    -webkit-appearance: button;
    /* Safari and Chrome */
    padding: 10px;
    margin: 10px;
    width: 70px;
}
.drop-box {
    background: #F8F8F8;
    border: 5px dashed #DDD;
    width: 200px;
    height: 130px;
    text-align: center;
    padding-top: 25px;
    margin: 10px;
}
.dragover {
    border: 5px dashed blue;
}

.options{
    float: right;
    position: relative;
    top: -25px;
}

.ci-options{
    float: right;
    position: relative;
    top: -10px;
}

.iscurrent{
    padding-left: 18px;
}

/**
 *
 * languages
 *
 */

.option-md-select{
    position: relative;
    bottom: 26px;
}


.b-space{
    padding-left:10px;
    padding-right: 10px;
}
.b-space-all{
    padding: 10px;
}

.b-p-top{
    padding-top: 20px;
}


.i-not-active{
    background-color: rgba(0, 0, 0, 0.06);
}
.color-one{
    background-color: #D0DD4C !important;
}

.color-two{
    background-color: #00BF70 !important;
}
.color-three{
    background-color: #4ACCC4 !important;
}
.color-four{
    background-color: #62B058 !important;
}
.color-five{
    background-color: #559946 !important;
}

.b-bold{
    font-weight: bold;
}






