  <div class="center-block w-xxl w-auto-xs p-y-md">
    <div class="navbar">
      <div class="pull-center">
        <div ui-include="'../views/blocks/navbar.brand.html'"></div>
      </div>
    </div>
    <div class="p-a-md box-color r box-shadow-z1 text-color m-a">
      <div class="" align="center">
        Sign in with a social network
      </div>
      <div class="socialMedia" layout="row">
      <br>
        <button md-ink-ripple ng-click="authenticate('google')" class="md-btn md-raised red btn-block p-h-md social-buton" id="authorize-button" ><i class="fa fa-google"></i></button>
        <button md-ink-ripple ng-click="authenticate('linkedin')" class="md-btn md-raised  btn-block p-h-md social-buton" style="background-color: #069 !important"><i class="fa fa-linkedin"></i></button>
        <button md-ink-ripple ng-click="authenticate('facebook')" class="md-btn md-raised blue btn-block p-h-md social-buton" style="background-color: #4C67A1" ><i class="fa fa-facebook"></i></button>
      </div>
      <div class="m-b text-sm">
        Sign in with your {{app.name}} Account
      </div>
      <form name="form">
        <div class="md-form-group float-label">
          <input type="email" class="md-input" ng-model="email" required>
          <label>Email</label>
        </div>
        <div class="md-form-group float-label">
          <input type="password" class="md-input" ng-model="password" required>
          <label>Password</label>
        </div>      
        
        <button type="submit" class="btn primary btn-block p-x-md" ng-click="login()" >Sign in</button>
      </form>

      <!-- Display first notification -->
      <div ng-repeat="(id, notification) in notifications track by id">
        <growl-notification style="{{notification.style}}">
          {{notification.text}}
        </growl-notification>
      </div>

    </div>

    <div class="p-v-lg text-center">
      <div class="m-b"><a ui-sref="access.forgot-password" href="#/access/forgot-password" class="text-primary _600">Forgot password?</a></div>
      <div>Do not have an account? <a ui-sref="access.signup" href="#/access/signup" class="text-primary _600">Sign up</a></div>
    </div>
  </div>
